---
import { SITE_CONFIG } from "../consts";
---
<a href="/" class="logo-lockup flex flex-col leading-none text-center">
  <span class="brand text-4xl md:text-5xl font-black tracking-tight font-heading">
    <span>Finance</span><span class="rookie">Rookie</span>
  </span>
  <span class="text-[0.65rem] uppercase tracking-[0.4em] text-muted">Magazine</span>
</a>
