---
import { SITE_CONFIG } from "../consts";
---
<a href="/" class="flex flex-col leading-none">
  <span class="text-4xl md:text-5xl font-extrabold tracking-tight">
    {SITE_CONFIG.logoText}
  </span>
  <span class="text-xs uppercase tracking-[0.4em] text-muted">Magazine</span>
</a>
